{% set what_if_articles = [] %}
{% set news_articles = [] %}
{% for a in (all_articles if all_articles is defined else articles) %}
    {% if a.category.slug == "what-if" %}
        {# make side effect; like 'do' extension, but without it #}
        {% if what_if_articles.append(a) %}{% endif %}
    {% endif %}
    {% if a.category.slug == "news" %}
        {# make side effect; like 'do' extension, but without it #}
        {% if news_articles.append(a) %}{% endif %}
    {% endif %}
{% endfor %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name='yandex-verification' content='7609759ea5589261' />
    <meta name="google-site-verification" content="wheR9HnWW-ifTYyKlMoU20tIh1gnkCaxfKB0ArCgf8s" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,ya-title=#f2f2f2,ya-dock=fade">
    <meta name="theme-color" content="#f1f1f1">

    <meta name="keywords" content="xkcd, what if, what if перевод, xkcd перевод, что если">
    <link rel="shortcut icon" href="{{ SITEURL }}/theme/img/favicon.ico">
    <link rel="yandex-tableau-widget" href="{{ SITEURL }}/manifest.json" />

    {% assets filters="cssmin", output="css/style.min.css", "css/normalize.css", "css/layout.css", "css/content.css" %}
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
    {% if page and page.slug == "credits" %}
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/credits.css">
    {% endif %}

    {% assets filters="jsmin", output="js/packed.js", "js/jquery-2.1.0.min.js", "js/main.js" %}
    <script type="text/javascript" async src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
    {% endassets %}

    {% if article %}
        {# when used by article.html #}
        {% set article_or_page = article %}
        {% set add_canonical_rel = True %}
        {% set on_canonical_place = True %}
    {% elif page %}
        {# when used by page.html #}
        {% set article_or_page = page %}
        {% set add_canonical_rel = True %}
        {% set on_canonical_place = True %}
    {% elif category %}
        {# when used by category.html #}
        {% set article_or_page = articles[0] %}
        {% set add_canonical_rel = True %}
        {% set on_canonical_place = False %}
        {% if category == "what-if" %}
            {% set canonical_place = SITEURL %}
        {% else %}
            {% set canonical_place = SITEURL + "/" + category.slug + "/" %}
        {% endif %}
    {% elif page_name == "index" %}
        {# when used by index.html #}
        {% set article_or_page = articles[0] %}
        {% set add_canonical_rel = True %}
        {% set on_canonical_place = False %}
        {% set canonical_place = SITEURL %}
    {% elif output_file == "translations/index.html" %}
        {# when used by translations.html #}
        {% set article_or_page = False %}
        {% set add_canonical_rel = True %}
        {% set on_canonical_place = False %}
        {% set canonical_place = SITEURL + "/translations/" %}
    {% else %}
        {# when used by 404.html #}
        {% set article_or_page = False %}
        {% set add_canonical_rel = False %}
    {% endif %}

    {% if article_or_page %}
        {% if article_or_page.formulas == 'True' %}
            {% include 'includes/mathjax.html' %}
        {% endif %}

        {% if article_or_page.title %}
            <meta property="og:title" content="{{ article_or_page.title }}" />
        {% endif %}
        {% if article_or_page.description %}
            <meta property="og:description" content="{{ article_or_page.description }}" />
            <meta name="description" content="{{ article_or_page.description }}" />
        {% endif %}
        {% if add_canonical_rel and on_canonical_place and article_or_page.url %}
            <meta property="og:url" content="{{ SITEURL }}/{{ article_or_page.url }}" />
            <link rel="canonical" href="{{ SITEURL }}/{{ article_or_page.url }}">
        {% endif %}
        {% if article_or_page.image %}
            <meta property="og:image" content="{{ article_or_page.image }}" />
        {% endif %}
    {% endif %}

    {% if add_canonical_rel and not on_canonical_place %}
            <link rel="canonical" href="{{ canonical_place }}">
    {% endif %}

    {% if FEED_ALL_ATOM %}
        <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} ATOM Feed"/>
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} RSS Feed"/>
    {% endif %}

</head>
<body>
    <div class="all">
        <header>

            <a class="logo" href="{{ SITEURL }}">
                <div class="logo-main">
                    <div class="logo-trex"></div>
                    <div class="logo-front"></div>
                </div>
                <img src="{{ SITEURL }}/theme/img/logo.png" class="logo-img" alt="Что если?"/>
            </a>

            <div class="header-title">
                <span>Каждый четверг отвечаем на ваши гипотетические вопросы с точки зрения физики</span>
                <b class="t1"></b><b class="t2"></b><b class="t3"></b>
            </div>

            {% if article_or_page and article_or_page.category.slug == "what-if" %}
                {% set menu_selected = "translations" %}
            {% elif output_file == "translations/index.html" %}
                {% set menu_selected = "translations" %}
            {% elif article_or_page and article_or_page.category.slug == "news" %}
                {% set menu_selected = "news" %}
            {% elif article_or_page and article_or_page.slug == "help" %}
                {% set menu_selected = "help" %}
            {% elif article_or_page and article_or_page.slug == "about" %}
                {% set menu_selected = "about" %}
            {% else %}
                {% set menu_selected = "" %}
            {% endif %}

            {% if menu_selected == "translations" %}
                {% set translations_title = "" %}
            {% else %}
                {% set translations_title = " title=\"" + what_if_articles[0].title + "\"" %}
            {% endif %}

            {% if menu_selected == "news" %}
                {% set news_title = "" %}
            {% else %}
                {% set news_title = " title=\"" + news_articles[0].title + "\"" %}
            {% endif %}

            {% macro get_classes(what) -%}
                {% if what == menu_selected %}menu-item {{ what }} selected{% else %}menu-item {{ what }}{% endif %}
            {%- endmacro %}

            <nav>
                <a class="menu-button"></a>
                <ul class="menu">
                    <li class="{{ get_classes("translations") }}"><a href="{{ SITEURL }}/"{{ translations_title }}><b></b><span>Переводы</span></a></li>
                    <li class="{{ get_classes("news") }}"><a href="{{ SITEURL }}/news/"{{ news_title }}><b></b><span>Новости</span></a></li>
                    <li class="{{ get_classes("help") }}"><a href="{{ SITEURL }}/help/"><b></b><span>Как нам помочь</span></a></li>
                    <li class="{{ get_classes("about") }}"><a href="{{ SITEURL }}/about/"><b></b><span>О нас</span></a></li>
                    <li class="menu-item search"><form action="https://google.com/search" method="GET"><input type="hidden" name="as_sitesearch" value="chtoes.li" /><input type="search" name="q"/></form></li>
                </ul>
                <ul class="menu-social">
                    <li class="menu-item vk"><a href="https://vk.com/whatifrussian"><b title="Мы ВКонтакте"></b><span>Мы ВКонтакте</span></a></li>
                    <li class="menu-item twitter"><a href="https://twitter.com/whatifrussian"><b title="Наш Twitter"></b><span>Наш Twitter</span></a></li>
                </ul>
            </nav>

        </header>
        <div class="content">
            <div class="border-top"></div>
            <div class="border-left"></div>
            {% block content %}
            {% endblock %}
            <div class="border-bottom"></div>
        </div>

    </div>
    <footer>
        <a href="http://xkcd.ru"><img src="{{ SITEURL }}/theme/img/xkcd.png" alt="xkcd.ru" title="xkcd по-русски!"></a>

        <p><strong>© What If? по-русски, 2016</strong><br>
        <span>Нас можно найти во <a href="https://vk.com/whatifrussian">ВКонтакте</a>, в <a href="https://twitter.com/whatifrussian">Twitter</a>’е, на <a href="https://github.com/whatifrussian">GitHub</a>’е.</span><br>
        <span>А еще мы переводим комиксы на сайте <a href="http://xkcd.ru">xkcd.ru</a>!</span></p>
        <p>
            В материалах сайта используются оригинальные тексты и изображения с сайта <a href="http://what-if.xkcd.com/">what-if.xkcd.com</a>.<br>
            Материалы сайта источника и этого сайта распространяются по лицензии <a href="http://creativecommons.org/licenses/by-nc/2.5/">Creative Commons Attribution-NonCommercial 2.5 License</a>. Также авторы этого сайта полностью солидарны с <a href="http://xkcd.com/license.html">комментариями к лицензии</a>.
        </p>
        <p>Ах, да, <a href="{{ SITEURL }}/credits/">создатели этого сайта</a>.</p>
        <p style="opacity: 0.6">Дизайн — <a class="usericon beret" href="https://vk.com/13x666"><b></b>13x666</a></p>
    </footer>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter24642143 = new Ya.Metrika({id:24642143,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/24642143" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
