{% extends "base.html" %}
{% block content %}
    {% if articles %}
    {% set article = articles[0] %}
            <div class="main">
                <ul class="menu-page clearfix">
                    {% include 'includes/pagination.html' %}
                </ul>
                <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                {% if article.source != "False" %}<span class="original">Оригинал: <a href="{{ article.source }}" target="blank">{{ article.sourcetitle }}<b></b></a></span> {% endif %}

                <div class="page">
                    {{ article.content }}
                </div>
                <div class="border-bottom"><hr></div>
                {% include 'includes/social.html' %}
                <ul class="menu-page clearfix bottom">
                    {% include 'includes/pagination.html' %}
                </ul>
            </div>
    {% endif %}
{% endblock content %}

{% block translations %}
    <li class="menu-item translations selected"><a href="{{ SITEURL }}/"><b></b><span>Переводы</span></a></li>
{% endblock translations %}