{% extends "base.html" %}

{% block title %}{{ SITENAME }} — Оглавление{% endblock %}

{% block content %}
    <div class="main">
        <h1>Все переводы</h1>

        {% set article_link = SITEURL + "/translations/" %}
        {% include 'includes/social.html' %}

        <ol class="toc page" reversed>
        {% for a in articles %}
            {% if a.category.slug == "what-if" %}
                <li><a href="{{ SITEURL }}/{{ a.url }}">{{ a.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ol>
    </div>
{% endblock content %}
