/* For creators: http://stackoverflow.com/a/31456554 */

.creators {
	text-align: center;
}

.creators > dt, dd {
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	width: 48%;
	margin-left: 0;
	margin-right: 0;
}

.creators > dt {
	text-align: right;
	margin-right: 10px;
}

.creators > dd {
	text-align: left;
	margin-left: 10px;
}

.participants {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 0;
	-moz-column-gap: 0;
	column-gap: 0;
}

.page .participants > li {
	list-style-type: none;
	padding-top: 0;
	padding-bottom: 0;
}

.usericon {
	white-space: nowrap;
}
.usericon b {
	background-image: url("../img/sprites.png");
	display: inline-block;
	width: 13px;
	height: 14px;
	background-position: -319px -270px;
	position: relative;
	top: 2px;
}
.usericon.female b {
	background-position: -333px -270px;
}
.usericon.beret b {
	background-position: -359px -270px;
}
.usericon.tux b {
	background-position: -372px -270px;
}
.usericon.blackhat b {
	background-position: -385px -270px;
}
.usericon.whitehat b {
	background-position: -398px -270px;
}
.usericon.spider b {
	background-position: -411px -270px;
}
.usericon.ninja b {
	background-position: -424px -270px;
}
.usericon.milena b {
	background-position: -437px -270px;
}
.usericon.meth b {
	background-position: -450px -270px;
}
.usericon.bober b {
	background-position: -463px -270px;
}
