<div class="social-buttons">
   <script type="text/javascript">(function() {
      if (window.pluso) {return};
       var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
       s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
       s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://x.pluso.ru/pluso-x.js';
       var h=d[g]('body')[0];
       h.appendChild(s);
    })();
 </script>
<div class="pluso-engine" pluso-sharer={"buttons":"vkontakte,facebook,twitter,google,surfingbird,more","style":{"size":"big","shape":"round","theme":"theme15","css":"background:transparent"},"orientation":"horizontal","multiline":false} ></div> 
</div>
